.destination-section {
  text-align: center;
}

/* Left Section */
.destination-header {
  margin-block: 0 32px;
}

.destination-header span {
  margin-right: 18px;
}

.destination-image-container {
  width: 170px;
  height: 170px;
  margin-block: 0 26px;
  margin-inline: auto;
}

.destination-image-container img {
  width: 100%;
}

/* Right Section */
.destination-button-container {
  display: flex;
  justify-content: space-evenly;
  margin-block: 0 20px;
}

.destination-button {
  padding-block: 0 8px;
}

.destination-detail>p {
  margin-block: 0 32px;
}

.destination-estimate {
  padding-block: 32px 56px;
  border-top: 0.5px solid hsla(231, 15%, 26%, 1);
}

.destination-distance p:first-child,
.destination-time p:first-child {
  margin-block: 0 12px;
}

.destination-distance {
  margin-block: 0 32px;
}

@media screen and (min-width: 768px) {
  .destination__header {
    align-self: flex-start;
    margin: 40px 0 60px 0;
  }

  .destination__imgContainer {
    width: 300px;
    height: 300px;
  }

  .destination__description {
    max-width: 573px;
  }

  .destination__buttonContainer {
    margin-bottom: 32px;
  }

  .destination__content h1 {
    margin-bottom: 8px;
  }

  .destination__estimate {
    display: flex;
    justify-content: space-evenly;
  }
}