.tech-section {
  text-align: center;
  padding-block: 0 10%;
}

.tech-header {
  margin-block: 0 32px;
}

.tech-header span {
  margin-inline: 0 18px;
}

.tech-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech-image-container {
  width: 100vw;
  height: 32vh;
  margin-block: 0 32px;
}

.tech-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tech-button-container {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.tech-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid gray;
  color: gray;
}

.tech-title {
  margin-block: 0 16px;
}

.tech-title p {
  margin-block: 0 9px;
}

@media screen and (min-width: 768px) {
  .tech__header {
    flex: 1;
    align-self: flex-start;
    margin: 40px 0 60px 0;
  }

  .tech__img {
    flex: 10;
    height: 310px;
    margin-bottom: 56px;
  }

  .tech__description {
    flex: 12;
  }

  .tech__buttonContainer {
    width: 250px;
    margin-bottom: 44px;
  }

  .tech__button {
    width: 60px;
    height: 60px;
  }

  .tech__content {
    max-width: 520px;
  }
}