.home-section {
  padding-block: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 80px;
  /* margin-block: 0 40px; */
}

.home-content {
  text-align: center;
}

.home-btn {
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 50%;
}

.home-btn:hover {
  outline: 36px solid #0b0617;
}

@media screen and (min-width: 768px) {
  .home-btn {
    width: 242px;
    height: 242px;
  }
}