.crew-section {
  text-align: center;
  padding-block: 0 15%;
}

.crew-header {
  margin-block: 0 32px;
}

.crew-header span {
  margin-inline: 0 18px;
}

.crew-image-container {
  width: 327px;
  height: 40vh;
  margin-block: 0 32px;
  margin-inline: auto;
  border-bottom: 2px solid hsla(231, 15%, 26%, 1);
}

.crew-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.crew-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.crew-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.crew-button {
  width: 10px;
  height: 10px;
  background: #f2f2f2;
  border-radius: 50%;
}

.crew-detail h4 {
  margin-block: 0 8px;
}

.crew-detail h3 {
  margin-block: 0 16px;
}

@media screen and (min-width: 768px) {
  .crew__header {
    order: 1;
    flex: 1;
    margin: 40px 0 60px 0;
    align-self: flex-start;
  }

  .crew__imgContainer {
    order: 3;
    flex: 10;
    margin: 0;
  }

  .crew__imgContainer img {
    /* position: relative;
    bottom: -40px; */
  }

  .crew__description {
    order: 2;
    flex: 1;
    flex-direction: column-reverse;
    margin-bottom: 60px;
  }

  .crew__content {
    max-width: 458px;
  }

  .crew__buttonContainer {
    margin-top: 40px;
  }
}