#app {
  /* min-height: 100vh; */
  background-size: cover;
}

.home {
  background: url("/public/assets/home/background-home-mobile.jpg") no-repeat center;
}

.destination {
  background: url("/public/assets/destination/background-destination-mobile.jpg") no-repeat center;
}

.crew {
  background: url("/public/assets/crew/background-crew-mobile.jpg");
}

.technology {
  background: url("/public/assets/technology/background-technology-mobile.jpg");
}