@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
:root {
  --primary-text-color-: rgb(255, 255, 255);
  --secondary-text-color: rgb(208, 214, 249);
  --primary-color: rgb(11, 13, 23);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-text-color-);
}

h1,
h2,
h3,
h4,
button,
.sub-heading1 {
  font-family: "Bellefair", serif;
  text-transform: uppercase;
}

h5,
.sub-heading2,
.nav-text {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}

p {
  font-family: "Barlow", sans-serif;
  color: var(--secondary-text-color-);
}

.sub-heading2,
.nav-text {
  color: var(--secondary-text-color);
}

/* Mobile Styles */
h1 {
  font-size: 5rem;
  line-height: 6.25rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 1rem;
  letter-spacing: 0.16875rem;
}

p {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

.nav-text {
  font-size: 1rem;
  letter-spacing: 0.16875rem;
}

.sub-heading2 {
  font-size: 0.875rem;
  letter-spacing: 0.1475rem;
}

.sub-heading1 {
  font-size: 1.75rem;
}

button {
  appearance: none;
  border: none;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.078125rem;
}

button:hover {
  cursor: pointer;
}

main {
  min-height: 85vh;
  width: 90%;
  margin: auto;
  display: flex;
}

#app {
  min-height: 100vh;
  background-size: cover;
}

.home {
  background: url("./assets/home/background-home-mobile.jpg") no-repeat center;
}

.destination {
  background: url("./assets/destination/background-destination-mobile.jpg")
    no-repeat center;
}

.crew {
  background: url("./assets/crew/background-crew-mobile.jpg");
}

.technology {
  background: url("./assets/technology/background-technology-mobile.jpg");
}

/* Tablet Styles */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 9.375rem;
    line-height: 9.375rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
    letter-spacing: 0.21125rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.75rem;
    text-indent: 0.0625rem;
  }

  main {
    min-height: 90vh;
  }

  .home {
    background: url("/assets/home/background-home-tablet.jpg") no-repeat center;
  }

  .destination {
    background: url("/assets/destination/background-destination-tablet.jpg");
  }

  .crew {
    background: url("/assets/crew/background-crew-tablet.jpg");
  }

  .technology {
    background: url("/assets/technology/background-technology-tablet.jpg");
  }
}

/* Desktop Design */
@media screen and (min-width: 1024px) {
  .nav-text {
    font-size: 1rem;
    letter-spacing: 0.16875rem;
  }

  .home {
    background: url("/public/assets/home/background-home-desktop.jpg");
  }

  .destination {
    background: url("/public/assets/destination/background-destination-tablet.jpg");
  }

  .crew {
    background: url("/public/assets/crew/background-crew-tablet.jpg");
  }

  .technology {
    background: url("/public/assets/technology/background-technology-tablet.jpg");
  }
}
